################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/~$iot-data-collection.pptx
